<div style="background: rgb(226, 66, 244); width: 100%; height: 100%; text-align: center; padding-top: 100px;">
  <h1>It's your birthday today!!<br> <br>HAPPY BIRTHDAY!!!!</h1>
  <img src="./images/cake.jpg" alt="pic of a cake" height="250" width="300" >
</div>
