<div class="title" style="background: rgb(226, 66, 244); width: 100%; height: 100%; text-align: center; padding-top: 100px;">
  <h1>What date is your birthday?</h1>
  <br>
  <br>
  <form action="/countdown">
    <label for="day">Day of the month</label>
    <br>
    <br>
    <input type="text" name="day">
    <br>
    <br>
    <br>
    <label for="day">Month of the year</label>
    <br>
    <br>
    <input type="text" name="month">
    <br>
    <br>
    <br>
    <label for="day">Year of your birthday eg. 2018</label>
    <br>
    <br>
    <input type="text" name="year">
    <br>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
